**Data Preprocessing dan feature engeenering selengkapnya ada di link berikut**
https://drive.google.com/drive/folders/1CY_B3cm3ptEVFSq9V9AuZgqgJQ-ez6y8?usp=drive_link

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gdown

In [2]:
#Helper Fuction
def import_from_gdrive(id_file, file_name):
  link = 'https://drive.google.com/uc?id=' + id_file
  output_file = '/content/' + file_name
  gdown.download(link, output_file, quiet=False)
  df = pd.read_csv(file_name)
  return df

In [3]:
link_train_combined = '1RrJ73EqxTIME-tlSAU6Ob8n5_pxRbH_V'
link_test_combined = '1HkAMyEvIKKMXKuLPXMdbV_78vM00KXX0'
train = import_from_gdrive(link_train_combined,'train.csv')
test = import_from_gdrive(link_test_combined,'test.csv')

Downloading...
From: https://drive.google.com/uc?id=1RrJ73EqxTIME-tlSAU6Ob8n5_pxRbH_V
To: /content/train.csv
100%|██████████| 78.3M/78.3M [00:00<00:00, 121MB/s]
Downloading...
From: https://drive.google.com/uc?id=1HkAMyEvIKKMXKuLPXMdbV_78vM00KXX0
To: /content/test.csv
100%|██████████| 25.0M/25.0M [00:00<00:00, 86.8MB/s]

In [4]:
test.head()

,id,id_jalan,id_titik_mulai,id_titik_akhir,kelompok,titik1,titik2,maxspeed_mph,lat1,long1,...,tanggal,jam,weekend,libur,aktivitas,cycleway,highway,lanes,sidewalk,surface
0,0,4004732,32046542,6454026544,32046542_6454026544,32046542,6454026544,30,51.465182,-0.255240,...,23,0.0,ya,tidak,istirahat,lane,trunk,2,both,other
1,1,182210371,1314925464,1314925496,1314925464_1314925496,1314925464,1314925496,30,51.458973,-0.141882,...,23,0.0,ya,tidak,istirahat,advisory,trunk,3,both,asphalt
2,2,22932408,1482086782,26481020,1482086782_26481020,1482086782,26481020,20,51.449437,-0.160688,...,23,0.0,ya,tidak,istirahat,other,secondary,0,other,other
3,3,182210371,3892883,267337489,267337489_3892883,267337489,3892883,30,51.457466,-0.143110,...,23,0.0,ya,tidak,istirahat,advisory,trunk,3,both,asphalt
4,4,66924592,266041030,2592978110,2592978110_266041030,2592978110,266041030,30,51.466309,-0.113371,...,23,0.0,ya,tidak,istirahat,share_busway,trunk,0,both,asphalt

In [5]:
train.head()

,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan,kelompok,titik1,titik2,maxspeed_mph,lat1,long1,...,tanggal,jam,weekend,libur,aktivitas,cycleway,highway,lanes,sidewalk,surface
0,691007296,21390008,1425033102,29.126,1425033102_21390008,1425033102,21390008,30,51.434975,-0.161090,...,1,1.0,ya,tidak,istirahat,lane,trunk,3,separate,asphalt
1,691007296,1425033102,21390008,28.999,1425033102_21390008,1425033102,21390008,30,51.434975,-0.161090,...,1,1.0,ya,tidak,istirahat,lane,trunk,3,separate,asphalt
2,691007296,43405913,27242603,36.128,27242603_43405913,27242603,43405913,30,51.432500,-0.163801,...,1,1.0,ya,tidak,istirahat,lane,trunk,3,separate,asphalt
3,691007296,27242603,43405913,37.889,27242603_43405913,27242603,43405913,30,51.432500,-0.163801,...,1,1.0,ya,tidak,istirahat,lane,trunk,3,separate,asphalt
4,691007296,43406731,21390004,39.264,21390004_43406731,21390004,43406731,30,51.430903,-0.165039,...,1,1.0,ya,tidak,istirahat,lane,trunk,3,separate,asphalt

In [ ]:
test.shape

In [ ]:
train.shape

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398648 entries, 0 to 398647
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_jalan          398648 non-null  int64
 1   id_titik_mulai    398648 non-null  int64
 2   id_titik_akhir    398648 non-null  int64
 3   rerata_kecepatan  398648 non-null  float64
 4   kelompok          398648 non-null  object
 5   titik1            398648 non-null  int64
 6   titik2            398648 non-null  int64
 7   maxspeed_mph      398648 non-null  int64
 8   lat1              398648 non-null  float64
 9   long1             398648 non-null  float64
 10  lat2              398648 non-null  float64
 11  long2             398648 non-null  float64
 12  jarak_km          398648 non-null  float64
 13  tanggal           398648 non-null  int64
 14  jam               398648 non-null  float64
 15  weekend           398648 non-null  object
 16  libur             398648 non-null  object
 17  aktivitas         398648 non-null  object
 18  cycleway          398648 non-null  object
 19  highway           398648 non-null  object
 20  lanes             398648 non-null  int64
 21  sidewalk          398648 non-null  object
 22  surface           398648 non-null  object
dtypes: float64(7), int64(8), object(8)
memory usage: 70.0+ MB

In [ ]:
import pandas as pd

num = train.copy()
num = num.drop(['kelompok','weekend','libur','aktivitas','cycleway','highway','sidewalk','surface'], axis= 1)

# Menghitung korelasi Pearson
correlation_matrix = num.corr()
rerata_kecepatan_correlation = correlation_matrix['rerata_kecepatan']
sorted_correlation = rerata_kecepatan_correlation.abs().sort_values(ascending=False)

print(sorted_correlation)

rerata_kecepatan    1.000000
jam                 0.301637
lat1                0.224003
lat2                0.223813
maxspeed_mph        0.205995
id_jalan            0.159702
titik2              0.105495
id_titik_akhir      0.099093
lanes               0.084585
jarak_km            0.072514
id_titik_mulai      0.070200
titik1              0.060273
long2               0.052464
long1               0.052220
tanggal             0.012503
Name: rerata_kecepatan, dtype: float64

In [ ]:
from scipy.stats import f_oneway

# Melakukan ANOVA untuk setiap fitur terhadap rerata_kecepatan
anova_results = {}
for feature in ['kelompok', 'weekend', 'libur', 'aktivitas', 'cycleway', 'highway', 'sidewalk', 'surface']:
    groups = train.groupby(feature)['rerata_kecepatan'].apply(list)
    anova_result = f_oneway(*groups)
    anova_results[feature] = anova_result

# Mengurutkan fitur-fitur berdasarkan nilai F (pada indeks 0 dalam hasil ANOVA)
sorted_anova_results = sorted(anova_results.items(), key=lambda x: x[1][0], reverse=True)

# Menampilkan hasil urutan fitur berdasarkan pengaruhnya
for feature, result in sorted_anova_results:
    print(f"Fitur: {feature}, Nilai F: {result[0]}, P-value: {result[1]}")

Fitur: aktivitas, Nilai F: 41392.92008407378, P-value: 0.0
Fitur: surface, Nilai F: 14711.59401947181, P-value: 0.0
Fitur: sidewalk, Nilai F: 7081.664299272504, P-value: 0.0
Fitur: cycleway, Nilai F: 6344.331397904684, P-value: 0.0
Fitur: highway, Nilai F: 5516.8492041962545, P-value: 0.0
Fitur: weekend, Nilai F: 3190.401839839407, P-value: 0.0
Fitur: kelompok, Nilai F: 475.91074005413327, P-value: 0.0
Fitur: libur, Nilai F: 344.6835355793602, P-value: 6.567900450630466e-77

#Data Preparation

**Data Preprocessing dan feature engeenering selengkapnya ada di link berikut**
https://drive.google.com/drive/folders/1CY_B3cm3ptEVFSq9V9AuZgqgJQ-ez6y8?usp=drive_link

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
id_jalan_kelompok_train = train[['weekend','libur','aktivitas','cycleway','highway','sidewalk','surface']]
encoded_train = encoder.fit_transform(id_jalan_kelompok_train)

id_jalan_kelompok_test =test[['weekend','libur','aktivitas','cycleway','highway','sidewalk','surface']]
encoded_test = encoder.transform(id_jalan_kelompok_test)

In [ ]:
# Ubah hasil encoding menjadi DataFrame
encoded_train_df = pd.DataFrame(encoded_train, columns=['encoded_weekend','encoded_libur','encoded_aktivitas','encoded_cycleway','encoded_highway','encoded_sidewalk','encoded_surface'])
encoded_test_df = pd.DataFrame(encoded_test, columns=['encoded_weekend','encoded_libur','encoded_aktivitas','encoded_cycleway','encoded_highway','encoded_sidewalk','encoded_surface'])

# Gabungkan hasil encoding dengan data train dan test
train_clean = pd.concat([train, encoded_train_df], axis=1)
test_clean = pd.concat([test, encoded_test_df], axis=1)

In [ ]:
X_train = train_clean.drop(['weekend','libur','aktivitas','cycleway','highway','sidewalk','surface'], axis= 1)
X_test = test_clean.drop(['weekend','libur','aktivitas','cycleway','highway','sidewalk','surface'], axis= 1)
y_train = train_clean['rerata_kecepatan']

In [ ]:
ID = X_test['id']
X_test = X_test.drop(['id','kelompok'], axis=1)

In [ ]:
X_train = X_train.drop(['rerata_kecepatan','kelompok'], axis=1)

In [ ]:
X_train["maxspeed_mph"] = X_train["maxspeed_mph"] * 1.6
X_train.rename(columns={"maxspeed_mph": "maxspeed_kph"}, inplace=True)

X_test["maxspeed_mph"] = X_test["maxspeed_mph"] * 1.6
X_test.rename(columns={"maxspeed_mph": "maxspeed_kph"}, inplace=True)

In [ ]:
X_test = X_test.drop(['encoded_libur','tanggal','long1','long2','lat1','lat2'], axis= 1)
X_train = X_train.drop(['encoded_libur','tanggal','long1','long2','lat1','lat2'], axis= 1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [ ]:
X_train = X_train.drop(['titik1','titik2'], axis= 1)
X_test = X_test.drop(['titik1','titik2'], axis= 1)
X_val = X_val.drop(['titik1','titik2'], axis= 1)

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 318918 entries, 320768 to 121958
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_jalan           318918 non-null  int64
 1   id_titik_mulai     318918 non-null  int64
 2   id_titik_akhir     318918 non-null  int64
 3   maxspeed_kph       318918 non-null  float64
 4   jarak_km           318918 non-null  float64
 5   jam                318918 non-null  float64
 6   lanes              318918 non-null  int64
 7   encoded_weekend    318918 non-null  float64
 8   encoded_aktivitas  318918 non-null  float64
 9   encoded_cycleway   318918 non-null  float64
 10  encoded_highway    318918 non-null  float64
 11  encoded_sidewalk   318918 non-null  float64
 12  encoded_surface    318918 non-null  float64
dtypes: float64(9), int64(4)
memory usage: 34.1 MB

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127489 entries, 0 to 127488
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_jalan           127489 non-null  int64
 1   id_titik_mulai     127489 non-null  int64
 2   id_titik_akhir     127489 non-null  int64
 3   maxspeed_kph       127489 non-null  float64
 4   jarak_km           127489 non-null  float64
 5   jam                127489 non-null  float64
 6   lanes              127489 non-null  int64
 7   encoded_weekend    127489 non-null  float64
 8   encoded_aktivitas  127489 non-null  float64
 9   encoded_cycleway   127489 non-null  float64
 10  encoded_highway    127489 non-null  float64
 11  encoded_sidewalk   127489 non-null  float64
 12  encoded_surface    127489 non-null  float64
dtypes: float64(9), int64(4)
memory usage: 12.6 MB

In [ ]:
X_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79730 entries, 143798 to 179896
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_jalan           79730 non-null  int64
 1   id_titik_mulai     79730 non-null  int64
 2   id_titik_akhir     79730 non-null  int64
 3   maxspeed_kph       79730 non-null  float64
 4   jarak_km           79730 non-null  float64
 5   jam                79730 non-null  float64
 6   lanes              79730 non-null  int64
 7   encoded_weekend    79730 non-null  float64
 8   encoded_aktivitas  79730 non-null  float64
 9   encoded_cycleway   79730 non-null  float64
 10  encoded_highway    79730 non-null  float64
 11  encoded_sidewalk   79730 non-null  float64
 12  encoded_surface    79730 non-null  float64
dtypes: float64(9), int64(4)
memory usage: 8.5 MB

#LBGM

In [ ]:
import lightgbm as lgb

In [ ]:
params = {
    "application": "regression",
    "boosting": "gbdt",
    "metric": "rmse",
    "num_leaves": 135,
    "max_depth": 11,
    "learning_rate": 0.052586623405764234,
    "bagging_fraction": 0.6644887700856914,
    "feature_fraction": 0.8230021324729027,
    "min_split_gain": 0.0025435434125472204,
    "min_child_samples": 182,
    "min_child_weight": 0.023336215175678358,
    "lambda_l2": 0.0372533252920578,
    "verbosity": -1,
    "data_random_seed": 17,
}

# Additional parameters:
early_stop = 500
verbose_eval = 100
num_rounds = 10000

d_train = lgb.Dataset(X_train, label=y_train)
d_valid = lgb.Dataset(X_val, label=y_val)
valid_sets = [d_train, d_valid]

lgbm_model = lgb.train(params, train_set=d_train,num_boost_round=num_rounds, valid_sets=valid_sets, verbose_eval=verbose_eval,early_stopping_rounds=early_stop,)

/usr/local/lib/python3.10/dist-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.10/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

Training until validation scores don't improve for 500 rounds
[100]	training's rmse: 4.10559	valid_1's rmse: 4.15093
[200]	training's rmse: 3.79247	valid_1's rmse: 3.84628
[300]	training's rmse: 3.67264	valid_1's rmse: 3.73718
[400]	training's rmse: 3.61703	valid_1's rmse: 3.69203
[500]	training's rmse: 3.58464	valid_1's rmse: 3.66839
[600]	training's rmse: 3.56305	valid_1's rmse: 3.65431
[700]	training's rmse: 3.54624	valid_1's rmse: 3.64502
[800]	training's rmse: 3.53435	valid_1's rmse: 3.63991
[900]	training's rmse: 3.5245	valid_1's rmse: 3.63609
[1000]	training's rmse: 3.51293	valid_1's rmse: 3.63171
[1100]	training's rmse: 3.50597	valid_1's rmse: 3.63004
[1200]	training's rmse: 3.49909	valid_1's rmse: 3.62787
[1300]	training's rmse: 3.49288	valid_1's rmse: 3.62668
[1400]	training's rmse: 3.48775	valid_1's rmse: 3.62659
[1500]	training's rmse: 3.48381	valid_1's rmse: 3.62677
[1600]	training's rmse: 3.48039	valid_1's rmse: 3.62668
[1700]	training's rmse: 3.47757	valid_1's rmse: 3.62685
[1800]	training's rmse: 3.47464	valid_1's rmse: 3.62744
Early stopping, best iteration is:
[1343]	training's rmse: 3.49055	valid_1's rmse: 3.62653

In [ ]:
# Prediksi dengan model yang telah dilatih
y_pred = lgbm_model.predict(X_test, num_iteration=lgbm_model.best_iteration)
y_pred

array([42.27752866, 39.52218557, 36.27295503, ..., 41.06272101,
       35.64258947, 46.19591265])

In [ ]:
output = pd.DataFrame({'id': ID,
                       'rerata_kecepatan': y_pred})

In [ ]:
output.describe()

                  id  rerata_kecepatan
count  127489.000000     127489.000000
mean    63744.000000         35.511239
std     36803.048572          7.376235
min         0.000000          5.456211
25%     31872.000000         31.307936
50%     63744.000000         35.963117
75%     95616.000000         40.511044
max    127488.000000         54.349099

In [ ]:
output.to_csv('longlattuning.csv', index=False)